*{
    font-family: Merriweather;
    margin: 0px;
    padding: 0px;
}
/* #banner-section{
    text-align: center;
    display: flex;
    justify-content: center;
border: 2px solid red;
}
.bannerImage{
    background-image: url(/images/Banner\ Image.png);
    width: 100vw ;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: auto;
    margin: auto;
} */
.happy{
    color: white;
}
.new{
    color: white;
}

/* father-1 section style */
#father-1{
    
}